<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-3 jumbo-color">
        <h1 class="display-15 white ">Update Prices</h1>
        <a id="update" class="btn btn-primary btn-lg active white">Update Inventory!</a>
        <br>

        <br>
        <a id="price" class="btn btn-primary btn-lg active white">Update Prices!</a>
        <h3 class="display-15 white" id="time-exe"></h3>
    </header>

    <!-- Page Features -->
    {{!-- <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top jumbo-color" src="https://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXH5ApeO4YmlhxYQknCRvCo04DEVlxkKgpot621FA957PHEcDB9_9W7hIyOqPv9NLPFqWdQ-sJ0xOzFpN2h0QDj_0ttNmnwIoDHcFVqNFjZ-AC2lbq-1pLou5_MyXVkv3I8pSGK_P3OCnU"
                    alt="">
                <div class="card-body jumbo-color">
                    <h4 class="card-title white">AWP | BOOM</h4>
                    <p class="card-text white">Before: 19,44€</p>
                    <p class="card-text white">After : 21,44€</p>
                    <p class="card-text white">Volume: 56 sold in the last 24 hours</p>
                </div>
                <div class="card-footer jumbo-color">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div> --}}

        <!-- /.row -->

    </div>
    <!-- /.container -->



    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        $("#update").click(() => {
            $.ajax({
                type: "GET",
                url: '/items',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                }
            });
        })
        let run = 0;
        $("#price").click(() => {

            if (!$("#price").hasClass('disabled')) {

                $("#price").addClass("disabled")
                console.log("Loading")
                let start = new Date;

                $.ajax({
                    type: "GET",
                    url: '/prices',
                    dataType: 'json',
                    success: function (data) {
                        console.log(data.time * data.items / (1000));

                        startTimer(data.time * data.items / 1000, document.querySelector('#time-exe'));
                    }
                });


            } else {
                console.log("Cant update now")
                return false
            }


            /*let log = $("#log option:selected").val();
            let path = $("#path").val()
            let inter = $("#inter").val();
            run=1;
            $.ajax({
                type: "GET",
                data: { log, path, inter },
                contentType: 'text/plain',
                url: 'logs',
                success: function (data) {
                   // $('#logs').html(`Script is with id of ${data}  running ...`);
                }
            })
            $('#logs').html("Script is running");
            health();*/
        })

        function startTimer(duration, display) {
            var start = Date.now(),
                diff,
                minutes,
                seconds;
            function timer() {
                // get the number of seconds that have elapsed since 
                // startTimer() was called
                diff = duration - (((Date.now() - start) / 1000) | 0);

                // does the same job as parseInt truncates the float
                minutes = (diff / 60) | 0;
                seconds = (diff % 60) | 0;

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = "Updating Prices in : " + minutes + ":" + seconds;

                if (diff <= 0) {
                    // add one second so that the count down starts at the full duration
                    // example 05:00 not 04:59
                    start = Date.now() + 1000;
                }
            };
            // we don't want to wait a full second before the timer starts
            timer();
            setInterval(timer, 1000);
        }
    </script>