body {
  background-color: #1b2838;
}
.jumbo-color {
  background-color: #171a21;
}
.white {
  color: white;
}
.red {
  color: #9c3737;
  font-size: 30px;
}
.redcalc {
  color: #9c3737;
  font-size: 30px;
}
.greencalc {
  color: #468d4c;
  font-size: 30px;
}
.before {
  color: #a7aaa7;
  font-size: 21px;
}
